HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend-app/dist
/frontend-app/tmp
/frontend-app/out-tsc
# Only exists if Bazel was run
/frontend-app/bazel-out

# dependencies
/frontend-app/node_modules

# profiling files
/frontend-app/chrome-profiler-events*.json
/frontend-app/speed-measure-plugin*.json

# misc
/frontend-app/.sass-cache
/frontend-app/connect.lock
/frontend-app/coverage
/frontend-app/libpeerconnection.log
/frontend-app/npm-debug.log
/frontend-app/yarn-error.log
/frontend-app/testem.log
/frontend-app/typings

# System Files
/frontend-app/.DS_Store
/frontend-app/Thumbs.db
